services:
  php:
    build: .
    container_name: php_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "9000:9000"
    networks:
      app_network:
        driver: bridge

  nginx:
    image: nginx:alpine
    container_name: nginx_app
    depends_on:
      - php
    ports:
      - "8080:80"
      - "443:443"
  volumes:
      - .:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./cert:/etc/nginx/ssl
  networks:
    app_network:
      driver: bridge

networks:
  app_network:
    driver: bridge
